.cart-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 32px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cart-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 24px;
}

.cart-items {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 32px;
}

.cart-item {
  display: flex;
  gap: 16px;
  padding: 16px;
  border: 1px solid #d1d5db;
  border-radius: 8px;
}

.cart-item-image {
  width: 100px;
  height: 100px;
  border-radius: 8px;
  object-fit: cover;
}

.cart-item-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cart-item-name {
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 8px;
}

.cart-item-price {
  font-size: 1rem;
  color: #4b5563;
  margin-bottom: 8px;
}

.cart-item-quantity {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 1rem;
  color: #4b5563;
}

.quantity-button {
  padding: 4px 8px;
  border: 1px solid #d1d5db;
  border-radius: 4px;
  background-color: white;
  color: black;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

/* .quantity-button:hover {
  background-color: #f3f4f6;
  border-color: #9ca3af;
} */

.cart-summary {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.cart-summary-title {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 16px;
}

.cart-summary-total {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 24px;
}

.checkout-button {
  padding: 12px 24px;
  background-color: #1f2937;
  color: white;
  border-radius: 8px;
  font-size: 1.125rem;
  transition: background-color 0.3s, color 0.3s;
  border-color: #030303;

}

.checkout-button:hover {
  background-color: #111827;
  border-color: #030303;

}
