.footer {
    padding: 1rem 2rem;
    background-color: rgba(20, 58, 121, 0.4); /* 40% opacity */

    color: #fff;
    display: flex;
    justify-content: space-between;
  }
  
  .footer ul {
    list-style: none;
    padding: 0;
  }
  
  .footer ul li {
    margin-bottom: 0.5rem;
  }
  