.Auth-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f4f4;
    box-shadow: #0c571e;
  }
  
  .Auth-container {
    display: block;
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    box-shadow:
    inset 0 -3em 3em rgba(255, 255, 255, 0.3),
    0 0 0 2px white,
    0.3em 0.3em 1em rgb(200 0 0 / 60%);
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Arial', sans-serif;
    color: #333;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    text-align: left;
    font-size: 16px;
    margin-bottom: 8px;
    color: #555;
  }
  
  input {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    color: #333;
    width: 94%;
  }
  
  input:focus {
    outline: none;
    border-color: #710b0b;
  }
  
  button {
    background-color: #710b0b;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:disabled {
    background-color: #ddd;
    cursor: not-allowed;
  }
  
  button:hover:enabled {
    background-color: #ffffff;
    border-color: #710b0b;
    border: 4px, #710b0b;
    color: black;
  }
  
  .error-message, .success-message {
    text-align: center;
    margin-top: 10px;
    padding: 10px;
    border-radius: 4px;
  }
  
  .error-message {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
  }
  
  .success-message {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
  }
  